
.icon-bucket:before { content: '\e800'; } /* '' */
.icon-canvas:before { content: '\e801'; } /* '' */
.icon-castle:before { content: '\e802'; } /* '' */
.icon-cd:before { content: '\e803'; } /* '' */
.icon-chair:before { content: '\e804'; } /* '' */
.icon-chandelier:before { content: '\e805'; } /* '' */
.icon-column:before { content: '\e806'; } /* '' */
.icon-compass:before { content: '\e807'; } /* '' */
.icon-conductor:before { content: '\e808'; } /* '' */
.icon-costume:before { content: '\e809'; } /* '' */
.icon-costume-1:before { content: '\e80a'; } /* '' */
.icon-costume-2:before { content: '\e80b'; } /* '' */
.icon-curtains:before { content: '\e80c'; } /* '' */
.icon-dancer:before { content: '\e80d'; } /* '' */
.icon-director-chair:before { content: '\e80e'; } /* '' */
.icon-door:before { content: '\e80f'; } /* '' */
.icon-dress:before { content: '\e810'; } /* '' */
.icon-drinks:before { content: '\e811'; } /* '' */
.icon-drum:before { content: '\e812'; } /* '' */
.icon-entry:before { content: '\e813'; } /* '' */
.icon-epidaurus:before { content: '\e814'; } /* '' */
.icon-feather-and-ink:before { content: '\e815'; } /* '' */
.icon-film:before { content: '\e816'; } /* '' */
.icon-film-1:before { content: '\e817'; } /* '' */
.icon-film-start:before { content: '\e818'; } /* '' */
.icon-flowers:before { content: '\e819'; } /* '' */
.icon-frame:before { content: '\e81a'; } /* '' */
.icon-gloves:before { content: '\e81b'; } /* '' */
.icon-hand-fan:before { content: '\e81c'; } /* '' */
.icon-hanger:before { content: '\e81d'; } /* '' */
.icon-harp:before { content: '\e81e'; } /* '' */
.icon-headphones:before { content: '\e81f'; } /* '' */
.icon-house:before { content: '\e820'; } /* '' */
.icon-letter:before { content: '\e821'; } /* '' */
.icon-light-bulb:before { content: '\e822'; } /* '' */
.icon-lipstick:before { content: '\e823'; } /* '' */
.icon-magic:before { content: '\e824'; } /* '' */
.icon-make-up-brush:before { content: '\e825'; } /* '' */
.icon-megaphone:before { content: '\e826'; } /* '' */
.icon-men-hat:before { content: '\e827'; } /* '' */
.icon-microphone:before { content: '\e828'; } /* '' */
.icon-mirro:before { content: '\e829'; } /* '' */
.icon-mirror:before { content: '\e82a'; } /* '' */
.icon-mirror-1:before { content: '\e82b'; } /* '' */
.icon-musical-note:before { content: '\e82c'; } /* '' */
.icon-needle:before { content: '\e82d'; } /* '' */
.icon-needle-and-thread:before { content: '\e82e'; } /* '' */
.icon-notes:before { content: '\e82f'; } /* '' */
.icon-oxford-shoes:before { content: '\e830'; } /* '' */
.icon-palette-and-brush:before { content: '\e831'; } /* '' */
.icon-papyrus:before { content: '\e832'; } /* '' */
.icon-perfume:before { content: '\e833'; } /* '' */
.icon-photography:before { content: '\e834'; } /* '' */
.icon-piano:before { content: '\e835'; } /* '' */
.icon-pins:before { content: '\e836'; } /* '' */
.icon-plaquette:before { content: '\e837'; } /* '' */
.icon-projector:before { content: '\e838'; } /* '' */
.icon-scene:before { content: '\e839'; } /* '' */
.icon-scissors:before { content: '\e83a'; } /* '' */
.icon-score-stand:before { content: '\e83b'; } /* '' */
.icon-screen:before { content: '\e83c'; } /* '' */
.icon-shakespeare-hamlet:before { content: '\e83d'; } /* '' */
.icon-singer:before { content: '\e83e'; } /* '' */
.icon-singer-1:before { content: '\e83f'; } /* '' */
.icon-sofa:before { content: '\e840'; } /* '' */
.icon-sound:before { content: '\e841'; } /* '' */
.icon-spotlight:before { content: '\e842'; } /* '' */
.icon-spotlight-1:before { content: '\e843'; } /* '' */
.icon-spotlights:before { content: '\e844'; } /* '' */
.icon-star:before { content: '\e845'; } /* '' */
.icon-television:before { content: '\e846'; } /* '' */
.icon-theater:before { content: '\e847'; } /* '' */
.icon-theater-doors:before { content: '\e848'; } /* '' */
.icon-theater-masks:before { content: '\e849'; } /* '' */
.icon-theater-program:before { content: '\e84a'; } /* '' */
.icon-ticket:before { content: '\e84b'; } /* '' */
.icon-ticket-booth:before { content: '\e84c'; } /* '' */
.icon-ticket-seller:before { content: '\e84d'; } /* '' */
.icon-trees:before { content: '\e84e'; } /* '' */
.icon-trumpet:before { content: '\e84f'; } /* '' */
.icon-usher:before { content: '\e850'; } /* '' */
.icon-video-camera:before { content: '\e851'; } /* '' */
.icon-violin:before { content: '\e852'; } /* '' */
.icon-winner:before { content: '\e853'; } /* '' */
.icon-women-hat:before { content: '\e854'; } /* '' */
.icon-accordion:before { content: '\e855'; } /* '' */
.icon-acrylic-paint:before { content: '\e856'; } /* '' */
.icon-acting:before { content: '\e857'; } /* '' */
.icon-actor:before { content: '\e858'; } /* '' */
.icon-actor-1:before { content: '\e859'; } /* '' */
.icon-actor-2:before { content: '\e85a'; } /* '' */
.icon-amphora:before { content: '\e85b'; } /* '' */
.icon-ancient-theatre:before { content: '\e85c'; } /* '' */
.icon-autograph:before { content: '\e85d'; } /* '' */
.icon-ballerina:before { content: '\e85e'; } /* '' */
.icon-ballerina-shoes:before { content: '\e85f'; } /* '' */
.icon-balloons:before { content: '\e860'; } /* '' */
.icon-binoculars:before { content: '\e861'; } /* '' */
.icon-book:before { content: '\e862'; } /* '' */
.icon-bow:before { content: '\e863'; } /* '' */
.icon-login-left:before { content: '\e864'; } /* '' */
.icon-telephone-auricular-with-cable:before { content: '\e865'; } /* '' */
.icon-login:before { content: '\e866'; } /* '' */
.icon-right-arrow:before { content: '\e867'; } /* '' */